

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    margin: 100px;
    gap: 2rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-box a{
    color: #5f5959;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}
.footer-box a:hover{
    transform: translateX(-5px);
    color: var(--text-color);
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #ffffff;
    color: var(--text-color);
    font-size: 35px;
    border-radius: 20px;
    transition: transform 0.6s;
    margin-right: 8px;
}
.social a:hover{
    background: var(--main-color);
    color: rgb(235, 154, 15);
    transform: translateY(-8px);
}
.copyright{
    color: var(--text-color);
    background:transparent;
    text-align:center;
    padding: 20px;
    font-size: var(--p-font);
}